* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", serif;
    font-size: .9rem;
    line-height: 1.5;
    color: hsl(229, 6%, 66%);
    background-color: hsl(0, 0%, 98%);
    padding: 5rem 1.5rem;
    text-align: center;
}

.title-thin {
    font-size: 1.8rem;
    font-weight: 200;
}

.title-bold {
    color: hsl(234, 12%, 34%);
    font-size: 1.8rem;
    font-weight: 600;
}

.header-info {
    max-width: 22rem;
    font-size: 1.1rem;
    padding: 1.3rem 0 3rem;
    margin: 0 auto;
}

.text {
    font-weight: 400;
}

.cards {
    background-color: hsl(0, 0%, 98%);
    text-align: left;
    border-top: .51rem solid;
    border-radius: .5rem;
    box-shadow: 0 8px 30px 2px #DAE1EE;
    max-width: 22rem;
    margin: 2rem auto;
    padding: 2.5rem 1.5rem;
    max-height: 342px;
}

.cyan {border-color: hsl(180, 62%, 55%);}
.red {border-color: hsl(0, 78%, 62%);}
.orange {border-color: hsl(34, 97%, 64%);}
.blue {border-color: hsl(212, 86%, 64%);}

.card-title {
    color: hsl(234, 12%, 34%);
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: .5rem;
}

.img-div {
    text-align: end;
}

img {
    width: 4rem;
    margin-top: 2rem;
}

@media (min-width: 992px) {

    .main {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .header-info {
        max-width: 32rem;
    }
    
    .cards {
        width: 100%;
        height: 100%;
        max-width: 28em;
        padding: auto 1.5rem;
    }
    
    .red {
        margin-bottom: 10%;
    }
        
    .row {
        display: flex;
        gap: 2rem;
    }
    
    .cards-col {
        align-content: center;
        width: 100%;
    }
}



/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
