* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: "Poppins", serif;
    font-size: .9rem;
    line-height: 1.5;
    color: hsl(229, 6%, 66%);
    background-color: hsl(0, 0%, 98%);
    padding: 5rem 1.5rem;
    text-align: center;
}

.slogan-thin {
    font-size: 1.8rem;
    font-weight: 200;
}

.slogan-bold {
    color: hsl(234, 12%, 34%);
    font-size: 1.8rem;
    font-weight: 600;
}

.header-info {
    /* max-width: 450px; */
    max-width: 22rem;
    font-size: 1.1rem;
    padding: 1.3rem 0 3rem;
    margin: 0 auto;
}

.text {
    font-weight: 400;
}

.cards {
    background-color: hsl(0, 0%, 98%);
    text-align: left;
    border-top: .5rem solid;
    border-radius: .5rem;
    box-shadow: 0 8px 30px 1px hsl(229, 6%, 66%);
    max-width: 22rem;
    margin: 2rem auto;
    padding: 2.5rem 1.5rem;
}

.cyan {border-color: hsl(180, 62%, 55%);}
.red {border-color: hsl(0, 78%, 62%);}
.orange {border-color: hsl(34, 97%, 64%);}
.blue {border-color: hsl(212, 86%, 64%);}

.card-title {
    color: hsl(234, 12%, 34%);
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 7px;
}

.img-div {
    text-align: end;
}

img {
    width: 4rem;
    margin-top: 2rem;
}



/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
